@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');

html, button {
    background: #57bd84;
    font-family: 'Lato', sans-serif;
    margin:0;
    padding:0;
    text-align:center;
    z-index: -20;
}

button {
    clear: left;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: #fff;
    border: none;
    border: 4px solid #000;
    border-radius: 2px ;
    box-shadow: 0 9px #000;
}
  
button:hover {background-color: #fff}
  
button:active {
    background-color: #fff;
    box-shadow: 0 2px #000;
    transform: translateY(4px);
}

span {
    clear: left;
}

div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}